@import "~bootstrap/dist/css/bootstrap.min.css";
<<<<<<< HEAD
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
=======
>>>>>>> ebcc549faa167803c2ba31d6f882d10178dbe1eb
